<% include ../partials/header %> 




        <!--=================== content body ====================-->
        <div class="col-lg-9 col-md-7 col-12 body_block  align-content-center">
            <div class="portfolio">
                <div class="container-fluid">
                    <!--=================== masaonry portfolio start====================-->
                    <div class="grid  justify-content-center no-gutters">  
                        <div class=" col-sm-12 col-md-6 col-lg-12">

                         <!-- proba so for each MAICKI -->
                         <div class="row">
                            <% campgrounds.forEach(function(campground){ %>
                                <div class="col-md-3 col-sm-6 col-lg-4 " style=" margin-bottom: 3%;">
                                    <div class="card " >
                                        <img class="card-img-top"  src="<%= campground.image %>" alt="Card image cap">
                                        <div class="card-body" style="align-items:center;"> 
                                        <h5 id="ime" class="card-title"><%= campground.name %></h5>
                                        <p id="cena"><%= campground.cena %></p>
                                        <!-- <button type="button" onclick="myFunction()">Try it</button> -->
                                        <a href="/campgrounds/<%= campground._id %>" class="btn btn-primary">Повеќе</a>
                                        </div>
                                    </div>    
                                </div>
                            <% }); %>
                         </div>
                          <!-- proba so for each MAICKI -->
                        </div>




                    </div>
                    <!--=================== masaonry portfolio end====================-->
                </div>
            </div>
        </div>
        <!--=================== content body end ====================-->
    </div>
</div>
















































     <!-- <header class="jumbotron">
         <div class="container">
             <h1><span class="glyphicon glyphicon-tent"></span> Welcome To YelpCamp!</h1>
             <p>View our hand-picked campgrounds from all over the world</p>
             <p>
                <a class="btn btn-primary btn-lg" href="/campgrounds/new">Add New Campground</a>
             </p>
         </div>
     </header>
     
     <div class="row text-center" style="display:flex; flex-wrap: wrap;">
        <% campgrounds.forEach(function(campground){ %>
            <div class="col-md-3 col-sm-6">
                <div class="thumbnail">
                   <img src="<%= campground.image %>">
                   <div class="caption">
                       <h4><%= campground.name %></h4>
                       <h4><%= campground.kategorija %></h4>
                   </div>
                   <p>
                       <a href="/campgrounds/<%= campground._id %>" class="btn btn-primary">More Info</a>
                   </p>
                </div>
            </div>
        <% }); %>
    </div> -->

<% include ../partials/footer %>
